# =========================
# Eclipse
# =========================
.metadata/
.settings/
.classpath
.project

# =========================
# IntelliJ
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Maven
# =========================
target/

# Maven Wrapper (KEEP THESE)
# Do NOT ignore these
#!.mvn/
#!mvnw
#!mvnw.cmd

# =========================
# Java
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db


# =========================
# Temporary files
# =========================
*.tmp

# Node.js
node_modules/
npm-debug.log*